<div class="flex">
	<div class="inlineBlockA">
			<div class="divHeaders"><h2>Team Members</h2></div>
			<ul>
				<li ng-repeat="member in eachPlayers" class="inlineListA"  ng-click="findUser(member)">
					<img src="{{member.playerIcon}}" class="profilePic">
					<h3 class="inlineList">{{member.playerName}}:</h3> {{member.playerRole}}</br>
				</li>
			</ul>
	</div>
	<div class="inlineBlockB">
	 	<div>
			<player-data member="currentUser" getHero="getHero()"></player-data>
			</div>
		</div>
	</div>
</div>
